* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #f42e07;
    --secondary-color: #d79506;
    --text-color: #000;
    --dark-text-color: #fff;
    --background-color: #fff;
    --secondary-background-color: #f0f0f0;
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
}

.logo {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: var(--text-color);
}

.logo span {
    color: var(--primary-color);
    font-size: 1.5rem;
}